body {
    background-color: aqua;
}
nav {
position: fixed;
bottom: 0;
left: 50%;
transform: translateX(-50%);
padding-bottom: 1rem;
}

.navbar-container {
background-color: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(10px);
padding: 20px;
border-radius: 20px;
}

.navbar-buttons {
display: flex;
justify-content: space-around;
align-items: center;
}

.navbar-buttons a {
display: block;
width: 100%;
max-width: 100px;
height: auto;
}

.navbar-buttons img {
width: 100%;
height: auto;
display: block;
border-radius: 10px;
}

@media (max-width: 768px) {
.navbar-buttons {
    flex-direction: column;
    align-items: stretch;
}

    .navbar-buttons a {
        margin: 10px 0;
    }
}