* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
font-family: Arial, sans-serif;
font-size: 16px;
}

nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1rem;
}

.navbar-container {
    background-color: rgba(128, 128, 128, 0.4);
    backdrop-filter: blur(10px);
    padding: .5rem;
    border-radius: 1rem;
}

.navbar-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar-buttons .btn {
    display: block;
    width: 100%;
    max-width: 100px;
    height: auto;
    padding: .5rem;
    border-radius: 10px;
}

.navbar-buttons .btn.active {
    background-color: rgba(255, 244, 244, 0.4);
}

.navbar-buttons img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.4em;
}

@media (max-width: 768px) {
    
    .navbar-buttons {
        align-items: stretch;
    }

    .navbar-buttons a {
        margin: 10px 0;
    }
}

  
  /* Estilos para a seção hero */
  .hero {
    background-color: #f2f2f2;
    text-align: center;
    padding: 80px 0;
    height: 100vh;
  }
  
  .hero-title {
    font-size: 48px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
  }

  .hero-subtitle {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    color: #666;
    padding-bottom: 2rem;
  }
  
  .hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
  }
  
  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #666;
  }
  
  .icon {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    margin: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 1px solid #333;
  }
  
  .icon i {
    margin-right: 10px;
  }
  
  .icon:hover {
    background-color: #333;
    color: #fff;
  }
  
  .icon:hover i {
    color: #fff;
  }