{% extends 'index.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'my_portfolio/css/about-me.css' %}">
<link rel="stylesheet" href="{% static 'my_portfolio/css/geral.css' %}">

<div class="super-content">
    
  <!-- Aqui fica a parte do Titulo e o botão de voltar -->
  <div class="back-page">
      <a class="back-button" href="{% url 'home' %}" >
        <span class="arrow-left"></span>
      </a>
      <h1 class="title">Sobre Mim</h1>
  </div>

  <!-- Aqui fica os cards com os videos -->
  <div class="card"> 
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/programando.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Programar:</h2>
        <p>Abre uma porta para um novo mundo apenas com algoritmos.</p>
      </div>
    </div>
        
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/amigos.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Amigos:</h2>
        <p>Traz conforto e alegria, algo que você não pode comprar.</p>
      </div>
    </div>
    
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/viagens.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Viajar:</h2>
        <p>Traz uma sensação de liberdade e será sempre bem-vinda.</p>
      </div>
    </div>
    
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/family.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Família:</h2>
        <p>Família é aprender sobre o amor da forma mais linda possível.</p>
      </div>
    </div>
  </div>

  <!-- Card com algumas informações -->
  <div class="super-card-about">
    <div class="card-about-me">
      <h2>Olá, meu nome é Gabriel Santos...</h2>
      <p>
        Tenho <span id="idade"></span> anos, sou desenvolvedor fullstack em Salvador-BA e faço bacharelado em Ciências da Computação.
        <br><br>
        Atualmente  trabalho como Analista técnico de sistemas e estou buscando me desenvolver ainda mais na área de tecnologia, aumentando meu conhecimento através de cursos online e bootcamps.
        <br><br>
        Comecei na área de tecnologia em 2020, logo após ter entrado no curso técnico em informática, em 2021 fui chamado para trabalhar na atual empresa que estou, ingressei na faculdade e continuo até hoje aumentando meus conhecimentos, sempre buscando me desenvolver ainda mais.
      </p>
    </div>
  </div>
  <script src="../../static/my_portfolio/js/portfolio.js"></script>
</div>
{% endblock%}