{% extends 'index.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'my_portfolio/css/about-me.css' %}">
<link rel="stylesheet" href="{% static 'my_portfolio/css/geral.css' %}">

<div class="super-content">
    
  <!-- Aqui fica a parte do Titulo e o botão de voltar -->
  <div class="back-page">
      <a class="back-button" href="{% url 'home' %}" >
        <span class="arrow-left"></span>
      </a>
      <h1 class="title">About Me</h1>
  </div>

  <!-- Aqui fica os cards com os videos -->
  <div class="card"> 
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/programando.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Programmer:</h2>
        <p>It opens a door to a new world with algorithms alone.</p>
      </div>
    </div>
        
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/amigos.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Friendships:</h2>
        <p>It brings comfort and joy, something you can't buy.</p>
      </div>
    </div>
    
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/viagens.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Travel:</h2>
        <p>It brings a sense of freedom and will always be welcome.</p>
      </div>
    </div>
    
    <div class="image-wrapper">
      <video loop autoplay muted class="card-image">
        <source src="{% static 'my_portfolio/img/videos/family.mp4' %}" type="video/mp4">
      </video>
      <div class="card-info">
        <h2>Family:</h2>
        <p>Family is learning about love in the most beautiful way possible.</p>
      </div>
    </div>
  </div>

  <!-- Card com algumas informações -->
  <div class="super-card-about">
    <div class="card-about-me">
      <h2>Hi, everyone...</h2>
      <p>My name is Gabriel Santos, currently doing a bachelor's degree in Computer Science, at UNIFACS in Salvador-BA,
        I got to know the technology area 4 years ago and since then I have sought to improve myself more and more in technologies
        which they are in the job market, never limiting themselves, always seeking to develop myself even more and looking for
        something new that can be innovative for this area that grows more and more every day.
        <br><br>
        As soon as I discovered this area, I was amazed at how much innovation it could bring to the world, it's surprising
        the point at which we managed to advance, through a small device, we got to connect with people who are
        on the other side of the world, it's the kind of thing you would never have imagined when you were just a kid, but even in the
        amidst so many of these technologies, it still never ceases to amaze me and it never ceases, my excitement to do
        part of these new technologies that are emerging.
        <br><br>
        I really want to do something that people look at and say how much it helps them on a daily basis, it doesn't have to be something big, but
        We always think about the bigger one, right? At least in my point of view, being able to help people all over the world, with a simple system
        it's something that I would be excited to be able to create even more software that benefits these people.
        <br><br>
        If you take a look at the previous page, you can see that I know some things related to technology, it doesn't mean that
        I am a great genius, but I want to show that I have a great desire to learn and develop myself in these technologies and even in others
        that I haven't had the opportunity to study yet, I'm pretty sure that if I dedicate myself to the fullest, I'll be able to achieve my goals.
        goals, if I don't go after them, who will run in my place?
        <br><br>
        What is written here is not like a biography of me, or something that says who I am down to the smallest detail, it is
        just something I wanted to write in order to be different when making my portfolio, I want to try to innovate, do something different,
        there may be something in the middle of all this that is different, it's like I want to leave a mark, something that is hidden and I want to
        make a charm out of it, but that will depend on whether it will be found.
        <br><br>
        I made this portfolio with the intention of showing a little of my skills, I don't know if it will have an effect ("I hope it will"),
        over time I intend to evolve it much more, make it more robust and with more tools, try to bring some things
        news, and may even surprise you! It's what I plan!
        <br><br>
        So...we're done here, I want to thank you for looking at my portfolio and for taking the time to see this 
        young developer's work!!
      </p>
    </div>
  </div>

</div>
{% endblock%}