{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'my_portfolio/css/certifications.css' %}">
<link rel="stylesheet" href="{% static 'my_portfolio/css/geral.css' %}">

<div class="super-certification">
      <!-- Aqui fica a parte do Titulo e o botão de voltar -->
    <div class="back-page">
        <a class="back-button" href="{% url 'home' %}">
        <span class="arrow-left"></span>
        </a>
        <h1 class="title">Certifications</h1>
    </div>
    <div class="certifications-galery">
        <section id="python" class="content-certification">
            <h1>Python</h1>
            <div class="galery-certifications" id="python-cert">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/certifications/UC-2b2be842-5000-4098-909e-8378947f1098.jpg' %}" alt="Programação Web com Python e Django Framework: Essencial">
                    <div class="card-info">
                        <h4>Programação Web com Python e Django Framework: Essencial</h4>
                    </div>
                </div>
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/certifications/GabrielSantos-PCAP - Programmi-certificate_page-0001.jpg' %}" alt="PCAP: Programming Essentials in Python">
                    <div class="card-info">
                        <h4>PCAP: Programming Essentials in Python</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="typescript" class="content-certification">
            <h1>TypeScript</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/certifications/UC-334e8577-dfa3-4f03-8f09-cc94a8dc7e8e.jpg' %}" alt="Entendendo TypeScript">
                    <div class="card-info">
                      <h4>Entendendo TypeScript</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="java" class="content-certification">
            <h1>Java</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/study.jpg' %}" alt="nome certificado">
                    <div class="card-info">
                      <h4>Gaining knowledge...</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="javascript" class="content-certification">
            <h1>JavaScript</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/study.jpg' %}" alt="nome certificado">
                    <div class="card-info">
                      <h4>Gaining knowledge...</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="react" class="content-certification">
            <h1>React</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/study.jpg' %}" alt="nome certificado">
                    <div class="card-info">
                      <h4>Gaining knowledge...</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="html" class="content-certification">
            <h1>HTML</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/study.jpg' %}" alt="nome certificado">
                    <div class="card-info">
                      <h4>Gaining knowledge...</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="css" class="content-certification">
            <h1>CSS</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/study.jpg' %}" alt="nome certificado">
                    <div class="card-info">
                      <h4>Gaining knowledge...</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="sql" class="content-certification">
            <h1>SQL</h1>
            <div class="galery-certifications">
                <div class="certification-wrapper">
                    <img class="certification-image" src="{% static 'my_portfolio/img/study.jpg' %}" alt="nome certificado">
                    <div class="card-info">
                      <h4>Gaining knowledge...</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}