{% load static %}
<!-- Quando não tiver nenhum certificado -->
<div id="study" class="style-alter desactive" onclick="hideStudy()">
    <span id="close-button">&times;</span>
    <img class="img-certifications-max" src="{% static 'my_portfolio/img/study.jpg' %}" alt="study">
</div>

<!-- Certificados Python -->
<div id="py1" class="style-alter desactive" onclick="hidePy1()">
    <span id="close-button">&times;</span>
    <img class="img-certifications-max" src="{% static 'my_portfolio/img/certifications/UC-2b2be842-5000-4098-909e-8378947f1098.jpg' %}" alt="Programação Web com Python e Django Framework: Essencial">
</div>

<div id="py2" class="style-alter desactive" onclick="hidePy2()">
    <span id="close-button">&times;</span>
    <img class="img-certifications-max" src="{% static 'my_portfolio/img/certifications/GabrielSantos-PCAP - Programmi-certificate_page-0001.jpg' %}" alt="PCAP: Programming Essentials in Python">
</div>

<!-- Certificados TypeScript -->
<div id="ts1" class="style-alter desactive" onclick="hideTs1()">
    <span id="close-button">&times;</span>
    <img class="img-certifications-max" src="{% static 'my_portfolio/img/certifications/UC-334e8577-dfa3-4f03-8f09-cc94a8dc7e8e.jpg' %}" alt="Entendendo TypeScript">
</div>