{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'my_portfolio/css/footer.css' %}">
<footer>
    <div class="footer-container">
      <img src="https://github.com/gabrielsantos969.png" alt="Logo" class="logo">
      <div class="footer-content">
        <h2 class="title-footer">@Gabriel Santos</h2>
        <p>Obrigado por ter visitado meu portfolio, espero que possa entrar em contato comigo atráves de alguma das minhas redes sociais!</p>
        <div class="button-group-footer">
          <a href="https://www.linkedin.com/in/gabriel-santos-b53632196/" target="_blank">
            <img src="{% static 'my_portfolio/img/icons/linkedin.png' %}" alt="linkedin">
          </a>
          <a href="https://github.com/gabrielsantos969" target="_blank">
            <img src="{% static 'my_portfolio/img/icons/github.png' %}" alt="github">
          </a>
          <a href="#" target="_blank">
            <img src="{% static 'my_portfolio/img/icons/gmail.png' %}"  alt="gmail">
          </a>
        </div>
        <p class="rights">© 2023 Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>