{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=[device-width], initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/gabrielsantos969.png">
    <link rel="stylesheet" type="text/css" href="{% static 'my_portfolio/css/index.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-OS7Do/6NxnNZlP9o+pW8QwoU5ZDn6ZSQrLr8q6WDBnfz7EwnGnXnHzRlUxWYfV7Y14ZOKhBv7k8jmGKjV7JDdQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Gabriel Santos</title>
</head>
<body>

    {% if request.path != '/about_me/' %}
        <!-- {% include 'navbar.html' %} -->
    {% endif %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
 

    <script src="{% static 'my_portfolio/js/index.js' %}"></script>
</body>
</html>