<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/my_portfolio/css/portfolio.css">
    <title>Portfolio Teste</title>
</head>
<body>
    <div class="card-portfolio">
        <section id="about-me">
            <img class="banner-portfolio" src="../../static/my_portfolio/img/Banner Linkedin.png" alt="banner">
            <img class="foto-portfolio" src="https://github.com/gabrielsantos969.png" alt="">
            <a href="" class="download-curriculo">
                <img class="icon-download" src="../../static/my_portfolio/img/icons/download.png" alt="">
                <h3>Download</h3>
            </a>
            <div class="container-apresentacao">
                <div class="card-apresentacao">
                    <h1 class="apresentacao-titulo">Olá, meu nome é Gabriel Santos...</h1>
                
                    <p class="apresentacao-descricao">
                        Tenho <span id="idade"></span> anos, sou desenvolvedor fullstack em Salvador-BA e faço bacharelado em Ciências da Computação.
                        <br><br>
                        Atualmente  trabalho como Analista técnico de sistemas e estou buscando me desenvolver ainda mais na área de tecnologia, aumentando meu conhecimento através de cursos online e bootcamps.
                        <br><br>
                        Comecei na área de tecnologia em 2020, logo após ter entrado no curso técnico em informática, em 2021 fui chamado para trabalhar na atual empresa que estou, ingressei na faculdade e continuo até hoje aumentando meus conhecimentos, sempre buscando me desenvolver ainda mais.
                    </p>
                </div>
                <div class="foto-apresentacao">
                    <div class="imagem-apresentacao"></div>
                </div>
            </div>

            
        </section>
    </div>



    <script src="../../static/my_portfolio/js/portfolio.js"></script>
</body>
</html>