{% extends 'index.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block 'header' %}
    <link rel="stylesheet" href="../../static/my_portfolio/css/portfolio.css">
    <link rel="stylesheet" href="../../static/my_portfolio/css/card-experience.css">
{% endblock %}

{% block content %}
    <div class="card-portfolio">
        <section id="about-me">
            <img class="banner-portfolio" src="../../static/my_portfolio/img/Banner Linkedin.png" alt="banner">
            <img class="foto-portfolio" src="https://github.com/gabrielsantos969.png" alt="">
            <a href="{% static 'my_portfolio/pdf/Gabriel Santos.pdf' %}" download class="download-curriculo">
                <img class="icon-download" src="../../static/my_portfolio/img/icons/download.png" alt="">
                <h3>Download</h3>
            </a>
            <div class="container-apresentacao">
                <div class="card-apresentacao">
                    <h1 class="apresentacao-titulo">Olá, meu nome é Gabriel Santos...</h1>
                
                    <p class="apresentacao-descricao">
                        Tenho <span id="idade"></span> anos, sou desenvolvedor fullstack em Salvador-BA e faço bacharelado em Ciências da Computação.
                        <br><br>
                        Atualmente  trabalho como Analista técnico de sistemas e estou buscando me desenvolver ainda mais na área de tecnologia, aumentando meu conhecimento através de cursos online e bootcamps.
                        <br><br>
                        Comecei na área de tecnologia em 2020, logo após ter entrado no curso técnico em informática, em 2021 fui chamado para trabalhar na atual empresa que estou, ingressei na faculdade e continuo até hoje aumentando meus conhecimentos, sempre buscando me desenvolver ainda mais.
                    </p>
                </div>
                <div class="foto-apresentacao">
                    <div class="imagem-apresentacao"></div>
                </div>
            </div>

            
        </section>

        <section id="experience" class="card-section">
            <h2>Experiences</h2>
            <div class="card-wrapper">
                <a class="card" href="{% url 'certifications' %}#python" id="python" >
                    <img src="{% static 'my_portfolio/img/pitao.png' %}" alt="python">
                    <h3>Python</h3>
                    <h4>Experience: 2+ years</h4>
             
                </a>
                <a class="card" href="{% url 'certifications' %}#typescript" id="typescript">
                    <img src="{% static 'my_portfolio/img/typescript.png' %}" alt="typescript">
                    <h3>TypeScript</h3>
                    <h4>Experience: 2+ years</h4>
               
                </a>
                <a class="card" href="{% url 'certifications' %}#java" id="java">
                    <img src="{% static 'my_portfolio/img/java.png' %}" alt="java">
                    <h3>Java</h3>
                    <h4>Experience: 1+ years</h4>
                
                </a>
                <a class="card" href="{% url 'certifications' %}#javascript" id="javascript">
                    <img src="{% static 'my_portfolio/img/js.png' %}" alt="javascript">
                    <h3>JavaScript</h3>
                    <h4>Experience: 2+ years</h4>
                   
                </a>
                <a class="card" href="{% url 'certifications' %}#react" id="react">
                    <img src="{% static 'my_portfolio/img/react.png' %}" alt="react">
                    <h3>React</h3>
                    <h4>Experience: 1+ years</h4>
                   
                </a>
                <a class="card" href="{% url 'certifications' %}#html" id="html">
                    <img src="{% static 'my_portfolio/img/html-5.png' %}" alt="html-5">
                    <h3>HTML5</h3>
                    <h4>Experience: 2+ years</h4>
                
                </a>
                <a class="card" href="{% url 'certifications' %}#css" id="css">
                    <img src="{% static 'my_portfolio/img/css-3.png' %}" alt="css-3">
                    <h3>CSS3</h3>
                    <h4>Experience: 2+ years</h4>
                    
                </a>
                <a class="card" href="{% url 'certifications' %}#sql" id="sql">
                    <img src="{% static 'my_portfolio/img/sql.png' %}" alt="sql">
                    <h3>SQL</h3>
                    <h4>Experience: 2+ years</h4>
                    
                </a>
              
            </div>
        </section>
    </div>
    <script src="../../static/my_portfolio/js/portfolio.js"></script>
{% endblock %}
